# Copyright (C) 2026 Bathur.
# Licensed under GPL-3.0-only with the Rider/ReSharper host linking permission.
# See LICENSE and LICENSING.md in the public source root.

# Copy this file to local.properties and set the absolute path of the locked Rider installation.
RiderHome=D:/Path/To/JetBrains Rider
